/* Fő nav sáv */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #020855, #078af5);
  padding: 20px 20px;
    box-shadow: 0 2px 5px #000005d2;
  color: black;
}

/* Bal oldal: logó + név */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 30px;
  height: 30px;
}

.site-title {
  font-size: 1.5em;
}

/* Középső menüpontok */
.nav-center {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.nav-center li a {
  color: white;
  text-decoration: none;
}

.nav-center li a:hover {
  text-shadow: #070707 0px 0px 10px;
}


body {
    font-family: Arial, sans-serif;
    height:100vh;
    background-image:url(island.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(8, 207, 207);
}

    .tartalom {
      margin-top: 20px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.8);
    }



  .social-row {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
    margin-top: 20px;
  }

    .social-row a {
      color: rgb(252, 252, 252);
      text-decoration: none;
      font-size: 24px;
      transition: color 0.3s ease;
    }

    .social-row a:hover {
      color: #c7dd04;
    }

    .tartalom2 {
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
    }
    
  .team-list {
      display: flex;
      justify-content: center;
      list-style: none;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 12px 24px;
      border-radius: 12px;
      margin: 20px auto;
      width: fit-content;    
  }
  .team-list li {
      margin: 0 10px;
      font-size: 1.2em;
      color: rgb(80, 0, 209);
  }