/* Fő nav sáv */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #020855, #078af5);
  padding: 20px 20px;
    box-shadow: 0 2px 5px #000005d2;
  color: black;
}

/* Bal oldal: logó + név */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 30px;
  height: 30px;
}

.site-title {
  font-size: 1.5em;
}

/* Középső menüpontok */
.nav-center {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.nav-center li a {
  color: white;
  text-decoration: none;
}

.nav-center li a:hover {
  text-shadow: #070707 0px 0px 10px;
}

/* Jobb oldal: kereső */
.nav-right {
  display: flex;
  gap: 8px;
}

.nav-right input {
  border: none;
  outline: none;
  background: linear-gradient(to right, #c7dd04, #078af5);
  padding: 5px 10px;
  border-radius: 50px;
  width: fit-content;
  transition: box-shadow 0.3s ease;
}

.nav-right button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  padding-right: 8px;
  transition: transform 0.2s ease;
}

body {
    font-family: Arial, sans-serif;
    height:100vh;
    background-image:url(island.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(8, 207, 207);
}

    .tartalom {
      margin-top: 20px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.8);
    }



  .social-row {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
    margin-top: 20px;
  }

    .social-row a {
      color: rgb(252, 252, 252);
      text-decoration: none;
      font-size: 24px;
      transition: color 0.3s ease;
    }

    .social-row a:hover {
      color: #c7dd04;
    }

    #results {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;         /* Térköz a kártyák között */
  justify-content: flex-start; /* vagy center, ha középre akarod */
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 16px;
  width: 260px;
  box-sizing: border-box;
}